formulario proprietario

<form action="/cliente/proprietario" method="post">
    <input type="text" name="proprietario" id="proprietario" placeholder="Nome do proprietario">
    <button type="submit">Salvar</button>
</form>