<%- include('../includes/header')%>
    <%- include('../includes/nav')%>
        <h1>Formulário Proprietário</h1>

        <section>

            <form action="/cliente/proprietario" method="post">
                <input type="text" name="proprietario" id="proprietario" placeholder="Nome do proprietario">
                <button type="submit">Salvar</button>
            </form>
        </section>
        </body>

        </html>