<header>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/tickets">Ticket</a></li>
            <li><a href="/proprietarios">Proprietários</a></li>
        </ul>
    </nav>
</header>