<%- include('includes/header')%>
<%- include('includes/nav')%>
    <div>
        <% if (items && items.length > 0) { %>
            <ul>
              <% items.forEach(item => { %>
                <li>
                  <p><%= item.titulo %></p>
                  <p><%= item.descricao %></p>
                </li>
              <% }) %>
            </ul>
          <% } else { %>
            <p>Nenhum item encontrado.</p>
          <% } %>
    </div>
</body>

</html>