<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Find out</title>
</head>

<body>
    <div>
        <% if(data && data.length> 0){ %>
            <ol>
                <% data.forEach(item=>{ %>
                    <li>
                        <p>
                            <%= item.properties.subject %>
                        </p>
                    </li>
                <% }) %>
            </ol>
        <%}%>
    </div>
</body>

</html>